.aside_menu {
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 30px;
    background-color: #FFFFFF;
    z-index: 20;
    overflow: hidden;
}

.menu_header_block {
    display: flex;
    justify-content: space-between;
    padding: 14px 10px;
    border-bottom: 1px solid #E5E5E5;

}
.menu_links_block, .menu_contact_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    list-style: none;
    gap: 10px;
}

.menu_link {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    text-decoration: none;
}