.header_wrapper {
    width: 100%;
    height: 77px;
    border-bottom: 1px solid #E5E5E5;
}
.header_block {
    max-width: 1256px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 92px;

}
.header_icon {
    height: 34px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.navigation_wrapper {
    display: flex;
    align-items: center;
    gap: 275px;
}
.navigation_block {
    display: flex;
    gap: 30px;
}
.navigation_link {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 19.8px;
    color:#7D7D7D;
    text-decoration: none;
}
.navigation_link:hover {
    color: #5D78FF;
}

.contact_block {
    display: flex;
    gap: 40px;
}

.menu {
    display: none;
}

@media (max-width: 1350px) {
    .header_wrapper {
        height: 50px;
    }

    .header_block {
        padding: 14px 10px;
    }

    .navigation_wrapper {
        display: none;
    }

    .menu {
        display: block;
    }

    .header_icon, .plerdy_logo {
        height: 21px;
    }
}