/* hero section */
.hero_wrapper {
    position: relative;
    max-width: 1256px;
    display: flex;
    justify-content: center;
    margin: 40px 92px 100px;
    background-color: #E2F2FF;
    border-radius: 10px;
}

.hero_block {
    min-width: 320px;
    max-width: 665px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 51px;
}

.hero_title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

.hero_intro {
    margin-top: 81px;
    margin-bottom: 59px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hero_text {
    float: left;
}
.hero_body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #001E41;
}

.hero_additional {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #909090;
}

.clients_list {
    margin-bottom: 20px;
    display: flex;
    align-items:center;
    gap: 24px;
} 

.clients_intro {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 6px;
}
.client {
    height: fit-content;
}

/* hero illustration */
.image_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.image_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_illustration {
    position: relative;
    height: 442px;
    width: 370px;
    background-image: url("../../images/linkedin-sales-solutions-wS73LE0GnKs-unsplash\ 1.png");
    background-repeat: no-repeat;
}   
.illustration_bg_image {
    padding-top: 31px;
}
.illustration_chart_combined {
    position: absolute;
    top: -41px;
    left: -65px;
}

.illustration_chart_green {
    position: absolute;
    top: 200px;
    left: -109px;
}

.illustration_chart_blue {
    position: absolute;
    top: 49px;
    left: 235px;
}

@media (max-width: 1350px) {
    .hero_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: max-content;
        min-width: 320px;
        margin: 10px 10px 40px 10px;
        padding: 20px 10px;
    }

    .hero_block{
       margin: 0 auto; 
       text-align: center;
    }

    .hero_intro {
        margin: 0 0 20px 0;
        text-align: left;
        align-items: center;
        gap: 20px;
    }
    .hero_title {
        font-size: 32px;
        line-height: 38px;
    }

    .hero_text {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .hero_body, .hero_additional {
        font-size: 12px;
        line-height: 14px;
    }

    .button_blue {
        font-size: 14px;
    }

    .clients_list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    .client_sotserve {
        height: 17px;
    }
    .client_subaru {
        height: 15px;
    }
    .client_anex_tour {
        height: 14px;
    }
    .client_prom {
        height: 18px;
    }
    .client_ukrposhta {
        height: 24px;
    }

    .hero_illustration {
        width: 229px;
        height: 273px;
        background-size: contain;
    }

    .illustration_chart_combined {
        height: 118px;
        top: -20px;
        left: -35px;
    }

    .illustration_chart_green {
        width: 152px;
        top: 170px;
        left: -57px
    }

    .illustration_chart_blue {
        width: 121px;
        top: 38px;
        left: 140px;
    }
    
    .section_title {
        margin: 0 10px 15px;
        font-size: 20px;
        line-height: 26px;
    }

    .button_close {
        top: 3px;
        right: -6px;
    }
}