.pop-up_wrapper {
    display: none;
    position: absolute;
    height: 550px;
    width: 800px;
    margin: 0 auto;
    justify-content: center;
    overflow: hidden;
    left: 1%;
    right: 1%;
    top: 37px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px 0px rgba(93,120,255,0.05);
    z-index: 90;
}

.pop-up_wrapper:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
  }
  
  .pop-up_wrapper:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
  }

.popup_form {
    position: relative;
    max-width: 400px;
    padding: 17px 32px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.popup_title {
    font-size: 34px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 2px;
    text-align: center;
}

.popup_info {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
}

.contact_form {
    display: flex;
    flex-direction: column;
}
.form_label {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color:#909090;
    margin-bottom: 4px;
}
.iti--separate-dial-code { 
    background-color: transparent;
}
.form_input {
    height: 21px;
    width: 316px;
    padding: 8px 12px;
    border: 1px solid #D5D5D6;
    border-radius: 8px;
    outline: #5D78FF;
    margin-bottom: 8px;
}
.placeholder_class  {
    border: none;
    background-color: transparent;
    outline: none;
}

.popup_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/* terms block */
.terms {
    display: flex;
    gap: 8px;
}

.terms_checkbox {
    display: block;
    position: relative;
    padding-left: 13px;
}
.terms_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.terms_checkbox input:checked ~ .checkmark {
    background-color: #5D78FF;
  }

.checkmark {
    position: absolute;
    top: 8px;
    left: 0;
    height: 13px;
    width: 13px;
    border: 1px solid #D5D5D6;
    border-radius: 3px;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

.terms_checkbox input:checked ~ .checkmark:after {
    display: block;
}
.terms_checkbox .checkmark:after {
    left: 3px;
    top: 2px;
    width: 5px;
    height: 5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.terms_text {
    font-size: 13px;
    line-height: 15px;
    color:#909090;
}
.highlighted {
    color: #5D78FF;
    text-decoration: none;
}

.copyright {
    position: absolute;
    display: flex;
    margin: 0 auto;
    gap: 9px;
    bottom: 10px;
    left: 25%;
}
.copyright_text, .copyright_text > u {
    color:#909090;
}

@media (max-width: 1350px) {
    .pop-up_wrapper {
        width: 300px;
        height: 412.5px;
        padding: 7.5px;
    }
    .popup_image {
        display: none; 
    }
    .popup_form {
        max-width: 237px;
        margin: 0;
        padding: 31px 24px 0;
        display: flex;
        justify-content: center;
        gap: 18px;
    }
    .popup_title {
        font-size: 18px;
        line-height: 21.6px;
        max-width: 237px;
        letter-spacing: 1px;
    }
    .popup_info {
        font-size: 12px;
        line-height: 18px;
    }
    .contact_form {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    .form_block {
        display: flex;
        flex-direction: column;
    }
    .form_input {
        width: auto;
        padding: 6px 9px;
        margin-bottom: 0;
    }
    .popup_buttons > .button {
        font-size: 12px;
        line-height: 13.5px;
        padding: 9px 20px;
    }
    .copyright {
        height: 14px;
        bottom: 3px;
        gap: 6px;
        left: 30%;
    }
    .copyright_text {
        font-size: 9px;
        color: #BDBDBD;
    }
    .terms_text {
        font-size: 9.75px;
    }
}