@import "../fonts/SourceSansPro-Regular.otf";
@import "../styles/blocks/buttons.css";
@import "../styles/blocks/header.css";
@import "../styles/blocks/hero_section.css";
@import "../styles/blocks/popup.css";
@import "../styles/blocks/swiper.css";
@import "../styles/blocks/footer.css";
@import "../styles/blocks/aside_menu.css";
@import "../styles/blocks/register.css";

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #001E41;
    scroll-behavior: smooth;
}

/* main */
.main_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
}

.plug_text {
    height: 100px;
    margin: 100px 92px;
    font-size: 32px;
    text-align: center;
}

@media (max-width: 1350px) {
    .body_wrapper {
        margin: 0 10px;
    }
}